@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #7742b2 #f180ff;
}

body {
  background-image: linear-gradient(-270deg, #7742b2 0%, #f180ff 100%);
  color: #eee;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 23rem) {
  body {
    background: #7742b2;
  }
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: #f180ff;
}

body::-webkit-scrollbar-thumb {
  background-color: #7742b2;
  border-radius: 20px;
  border: 3px solid #f180ff;
}

@-moz-document url-prefix() {
  .moz {
    padding-right: 4rem;
  }
}

@media (max-width: 33rem) {
  @-moz-document url-prefix() {
    .botoes {
      margin-left: 3rem;
    }
  }
}
