@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(-270deg, #7742b2 0%, #f180ff 100%);
  color: #eee;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 34rem) {
}
